<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="C:/Users/sures/IdeaProjects/com.tutorialsninja/src/test/java/scriptClasses/LandingPageValidations.java">
        <classes>
            <class name="scriptClasses.LandingPageValidations">
                <methods>
<!--                    <include name="verifyLoginWithDifferentCredentials"/>-->
                    <include name="verifySectionsInLandingPage"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>